/* BODY */
body {
  background-color: lightgreen;
}

#haut {
  display: flex;
}
.pile, .pileDeck{
  background-color: #228B22;
  border-color: black;
  border-style:solid;
  border-width: thin;
  height: 14vh;
  width: 6.5vw;
  margin-left: 3vw;
}



/* HEADER */
header{
  background-color: lightblue;
  color: white;
  display: flex;
  margin-bottom: 5vh;
}

#score{
  padding-left: 55vw;
}
#pseudo{
  padding-left: 15vw;
}

/* PIOCHE */


img{
  height: 14vh;
}

#paquet{
  height: 14.4vh;
}

#pioche {
  display: flex;
  height: 14vh;
  width: 38vw;
}



/* PILE DU HAUT */

#pilehaut{
  display: flex;
  padding-left: 10vw;
}




/* PILE DU JEU */

#pilejeu{
  display: flex;
}

#pilejeu > section{
  margin-top: 15vh;
}

.prems{
  margin-left: 15vw;
}
