h1{
  font-size: 14vh;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgreen

}
section{
  display: flex;
  flex-direction: column;
}
input{
  margin-top: 1vh;
}
img{
  margin-bottom: 5vh;
}
